{% extends "./base.html" %}

{% load static %}


{% block content %}


<main>
  
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5"> {{ category.name | capfirst }} </div>

      <hr>
      <br>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        
        {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
              <div class="card-body">
                <p class="card-text">
                  <a class="text-info text-decoration-none" href="{% url 'product_infor' product.slug%}"> {{ product.title }} </a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <h5> $ {{ product.price }} </h5>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <br>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-primary text-white" href="?page1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ products.previous_page_number }}">{{ previous_page }}</a></li>
            {% endif %}
    
            <li class="page-item disabled"><span class="page-link bg-secondary">{{ products.number }}</span></li>
    
            {% if products.has_next %}
                <li class="page-item"><a class="page-link bg-primary text-white" href="?page={{ products.next_page_number }}">{{ next_page }}</a></li>
                <li class="page-item">
                    <a class="page-link bg-primary text-white" href="?page={{ products.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
    </div>
  </div>

</main>

{% endblock %}