{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}
    <style>
        body {
            background-color: #CCCCCC;
        }
    </style>

    <body>

        <div class="container bg-white shadow-md p-5 mt-4 mb-4 form-layout">

            <div class="text-center">
                <h4> Welcome, {{ user }} </h4>
            </div>
            <hr>
            <li> Track your orders </li>
            <li> Manage your account </li>
        
        </div>
        <div class="container bg-white shadow-md p-5 mt-4 mb-4 form-layout">

            <div class="text-center">
                <h4> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Track your orders </h4>
            </div>
            <hr>
            <p> Track your orders here </p>
            <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'logout' %}"> My orders </a>
        
        </div>
        <div class="container bg-white shadow-md p-5 mt-4 mb-4 form-layout">

            <div class="text-center">
                <h4> <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Manage your account </h4>
            </div>
            <hr>
            <p> Update or delete your account </p>
            <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile_manage' %}"> Profile management </a>
        
        </div>

    </body>

{% endblock %}
